footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}
body {
    background-color: #B4E5F6;
}
#mainContainer {
    margin-top: 70px;
    margin-bottom: 70px;
}
#topContainer {
    background-color: #8ABDD5;
}
#bottomContainer {
    background-color: #62A2C0;
}
#charsContainer {
    background-color: white;
}
#charImg {
    height: 150px;
    width: 180px;
}
#charImg img {
    height: 100%;
    width: 100%;
}
#nameContainer {
    width: 180px;
    background-color: rgba(0, 9, 56, 0.6);
    opacity: 0.9;
    color: white;
}