/* For base */

footer {
    width: 80%;
}
body {
    background-color: #B4E5F6;
}
#mainContainer {
    margin-top: 70px;
    margin-bottom: 70px;
}

/* For filters */

#topContainer {
    background-color: #8ABDD5;
}
.studentList{
    height: 40px;
    width: 150px;
}
#allStudents.btn.active {
    background-color: #153756;
    color: white;
}
#strikerStudents.btn {
    color: red;
}
#strikerStudents.btn.active {
    background-color: red;
    color: white;
}
#specialStudents.btn {
    color: blue;
}
#specialStudents.btn.active {
    background-color: blue;
    color: white;
}

/* For students */

#bottomContainer {
    background-color: #62A2C0;
}
#studentsContainer {
    background: repeating-linear-gradient(
      0deg,
      #DEE7E8,
      white 1px,
      white 25px,
      white 1px
    );
}
#studentBoxContainer {
    background-color: white;
    cursor: pointer;
    height: 160px;
    width: 140px;
}
#studentImg {
    height: 100%;
    width: 100%;
}
#sortContainer {
    background-color: rgba(30, 30, 85, 0.6);
    color: white;
}
#addContainer {
    height: 180px;
    width: 140px;
    background: repeating-linear-gradient(
      45deg,
      #9AC8CD,
      white 1px,
      white 10px,
      white 10px
    );
}
#addContainer img {
    height: 95px;
    width: 100px;
}

/* For student info */

input {
    width: 48px;
}
#studentInfoModalTable {
    height: 500px;
    overflow-y: scroll;
}
#studentEXP {
    width: 40px;
    height: 20px;
}
#studentBond {
    width: 20px;
    height: 20px;
}
#studentInfoRow1 {
    background-color: rgba(18, 61, 112, 0.5);
}
#studentInfoRow2 {
    background-color: rgba(110, 111, 112, 0.5);
}
#studentModalImg img {
    height: 500px;
}
.studentTerrain, .studentMood {
    width: 30px;
    height: 30px;
}
.studentType {
    width: 20px;
    height: 20px;
}
.studentSkill {
    width: 30px;
    height: 30px;
}
.studentRarity {
    width: 20px;
    height: 20px;
}
#studentUE {
    width: 200px;
    height: 60px;
}
.studentGear {
    width: 40px;
    height: 40px;
}