<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BA Planner</title>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="static/css/styles.css"/>
    </head>

  <body>

    <!-- Navbar -->
    <header>
      <nav class="navbar navbar-expand-md position-fixed z-3 fixed-top border rounded-bottom bg-light">
        <div class="container-fluid">
          <span class="navbar-brand ms-2 fw-bold" href="#">🏫 BA Planner</span>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto mb-md-0">
              <li class="nav-item"><a class="nav-link fw-bold active" href="#">Resource Planner</a></li>
              <li class="nav-item"><a class="nav-link fw-bold" href="#">Changelog</a></li>
              <li class="nav-item"><a class="nav-link fw-bold" href="#">Credits</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Body -->
    {% block content %} {% endblock %}

    <!-- Footer -->
    <footer class="footer mx-auto py-2 fixed-bottom border rounded-top bg-light">
      <ul class="nav justify-content-center">
        <li class="nav-item border-end"><a class="nav-link fw-bold text-dark" href="#">🗂 Resources</a></li>
        <li class="nav-item border-end"><a class="nav-link fw-bold text-dark" href="#">⚙ Gears</a></li>
        <li class="nav-item"><a class="nav-link fw-bold text-dark" href="#">💾 Transfer</a></li>️
      </ul>
    </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
