<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BA Planner</title>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="static/css/styles.css"/>
    </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container-fluid">
          <a class="navbar-brand ms-2" href="#">BA Planner</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto mb-md-0">
              <li class="nav-item"><a class="nav-link" href="#">Resource Planner</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Changelog</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Credits</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    {% block content %} {% endblock %}
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container text-center">
        <span>Under construction uwu</span>
      </div>
    </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
