{% extends "base.html" %} {% block content %}

<div class="container" id="mainContainer">

  <!-- Filters -->
  <div class="row py-2 rounded-top" id="topContainer">
    <div class="col my-auto"><img class="studentList" src="static/assets/img/ui/student-list.png"/></div>
    <div class="col text-end" id="displayContainer">
      <input type="radio" class="btn-check" name="basic-filters" id="allStudents" value="" checked>
      <label class="btn btn-light fw-bold" for="allStudents">All</label>
      <input type="radio" class="btn-check" name="basic-filters" id="strikerStudents" value="striker">
      <label class="btn btn-light fw-bold" for="strikerStudents">STRIKER</label>
      <input type="radio" class="btn-check" name="basic-filters" id="specialStudents" value="special">
      <label class="btn btn-light fw-bold" for="specialStudents">SPECIAL</label>
      <a href="#" class="btn btn-light fw-bold" data-bs-toggle="button">Lv.</a>
      <input type="checkbox" class="btn-check" name="order-students" id="orderStudents" onclick="displayStudents();">
      <label class="btn btn-light fw-bold" id="orderStudentsLabel" for="orderStudents">☰↓</label>
    </div>
  </div>

  <!-- Students -->
  <div class="row px-3 rounded-bottom" id="bottomContainer">
    <div class="container my-3 pb-3 rounded text-center" id="studentsContainer">
      {% include "partials/student-list.html" %}
    </div>
  </div>

  <!-- Student Info Modal -->
  {% include "partials/modals/student-info.html" %}

  <!-- Student Add Modal -->
  <div class="modal fade" id="studentAddModal" tabindex="-1" aria-labelledby="studentAddModalLabel" aria-hidden="true">
    {% include "partials/modals/student-add.html" %}
  </div>

</div>

{% endblock %}
